@import "tailwindcss";

@font-face {
	font-family: "super-rugged";
	src: url("/super-rugged-font/super-rugged.ttf") format("truetype");
}

.super-rugged {
	font-family: "super-rugged", serif;
}

@keyframes sway {
	0% {
		rotate: 10deg;
	}
	50% {
		rotate: -10deg;
	}
	100% {
		rotate: 10deg;
	}
}

.sway {
	animation: sway 2s ease-in-out infinite;
	transform-origin: center;
}

@keyframes sway2 {
	0% {
		rotate: -10deg;
	}
	50% {
		rotate: 10deg;
	}
	100% {
		rotate: -10deg;
	}
}

.sway2 {
	animation: sway2 1.7s ease-in-out infinite;
	transform-origin: center;
}

@keyframes sway3 {
	0% {
		rotate: -2deg;
	}
	50% {
		rotate: 2deg;
	}
	100% {
		rotate: -2deg;
	}
}

.sway3 {
	animation: sway3 1.5s ease-in-out infinite;
	transform-origin: center;
}

@keyframes sway4 {
	0% {
		rotate: -2deg;
	}
	50% {
		rotate: 2deg;
	}
	100% {
		rotate: -2deg;
	}
}

.sway4 {
	animation: sway4 1.5s ease-in-out infinite;
	transform-origin: center;
}

@keyframes sway5 {
	0% {
		rotate: -2deg;
	}
	50% {
		rotate: 2deg;
	}
	100% {
		rotate: -2deg;
	}
}

.sway5 {
	animation: sway5 4s ease-in-out infinite;
	transform-origin: center;
}
